<ion-view view-title="Poolozhe">
    <div class="bar bar-subheader">
      <h2 class="title">درباره ما</h2>
    </div>
  <ion-content>
    <div class="card" style="margin-top:55px">
      <div class="item item-divider" style="text-align:center">
        <p>
          .این نرم افزار در جهت تسهیل ارتباط میان افراد به منظور ثبت ایده ها و کمک به اجرای آن ها ساخته شده است
        </p>
      </div>
    </div>
    <div class="list" style="margin-top:40px">
        <a class="item item-avatar-right">
          <img src="./img/hossein.png">
          <h2 style="text-align:right">حسین بهکمال</h2>
          <p style="text-align:right">برنامه نویس</p>
        </a>
    </div>
    <div class="list">
        <a class="item item-avatar-right">
          <img src="./img/mohammad.png">
          <h2 style="text-align:right">محمد نجف زاده</h2>
          <p style="text-align:right">برنامه نویس</p>
        </a>
    </div>
    <div class="list">
        <a class="item item-avatar-right">
          <img src="./img/amirmahdi.png">
          <h2 style="text-align:right">امیرمهدی برنجیان</h2>
          <p style="text-align:right">برنامه نویس</p>
        </a>
    </div>
    <div class="list">
        <a class="item item-avatar-right">
          <img src="./img/ali.png">
          <h2 style="text-align:right">علی رمضانی</h2>
          <p style="text-align:right">گرافیست</p>
        </a>
    </div>

  </ion-content>
</ion-view>
