<ion-view view-title="تماس با ما">
  <ion-content>
    <ion-list class="text-right">
        <ion-item ng-repeat="item in items">
        </ion-item>
       <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">نام</span>
          <input class="text-right" type="text" placeholder="نام">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">نام خانوادگی</span>
          <input class="text-right" type="text" placeholder="نام خانوادگی">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">ایمیل</span>
          <input class="text-right" type="text" placeholder="ایمیل">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">پیاام شما</span>
          <input class="text-right" class="text-right" type="text" placeholder="پیام شما">
        </label>
        <button style="margin-top:55px" class="button button-full  button-assertive">ارسال</button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
