<ion-view view-title="ثبت ایده">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">اسم ایده</span>
        <input class="text-right" type="text" placeholder="اسم ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">توضیح کوتاه درباره ی ایده</span>
        <input class="text-right" type="text" placeholder="توضیح کوتاه درباره ی ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">ایمیل</span>
        <input class="text-right" type="text" placeholder="ایمیل">
      </label>
    </div>
    <button class="button button-full button-balanced" >
      ثبت
    </button>
  </ion-content>
</ion-view>
