<ion-view view-title="ثبت ایده">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">نام ایده</span>
        <input class="text-right" type="text" placeholder="نام ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">توضیح کوتاه درباره ی ایده</span>
        <input class="text-right" type="text" placeholder="توضیح کوتاه درباره ایده">
      </label>
      <label class="item item-input item-floating-label">
        <input class="text-right input-image" type="file" accept="image/*">
      </label>
    </div>
    <button class="button button-full button-positive" href="#/home/submission-step2">
      ادامه
    </button>
  </ion-content>
</ion-view>
