<ion-view view-title="ثبت ایده">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">نام</span>
        <input class="text-right" type="text" placeholder="نام">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">نام خانوادگی</span>
        <input class="text-right" type="text" placeholder="نام خانوادگی">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">ایمیل</span>
        <input class="text-right" type="text" placeholder="ایمیل">
      </label>
    </div>
    <button class="button button-full button-positive">
      Block Button
    </button>
  </ion-content>
</ion-view>
