<ion-view view-title="پولوژه">
  <ion-content>
    <ion-list class="list card">
      <ion-item ng-repeat="n in ideasList">
          <a href="#/home/ideas-list/{{n.id}}">
            <div class="item item-avatar">
              <img  ng-src="img/{{n.thumb}}">
              <h2 style="float:left;padding-top:9px;" class="date-view">{{n.date}}</h2>
              <h2 style="float:right;padding-top:9px;">{{n.name}}</h2>
            </div>
            <div class="item item-body">
              <img class="full-image" ng-src="img/{{n.thumb}}">
              <br />
              <p style="text-align:right;direction:rtl;text-decoration: none;">{{n.short_desc}}</p>
            </div>
          </a>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
