<ion-view view-title="ثبت ایده">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">نام ایده</span>
        <input class="text-right" type="text" placeholder="نام ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">توضیح کوتاه درباره ی ایده</span>
        <input class="text-right" type="text" placeholder="توضیح کوتاه درباره ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">دسته بندی</span>
        <input class="text-right" type="text" placeholder="آپلود عکس ۶۴ * ۶۴">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">بودجه مورد نیاز برای شروع پروژه</span>
        <input class="text-right" type="text" placeholder="بودجه مورد نیاز برای شروع پروژه">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">زمان پایان پروژه</span>
        <input class="text-right" type="text" placeholder="زمان پایان پروژه">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">توضیح دقیق و کامل درباره ی ایده</span>
        <input class="text-right" type="text" placeholder="توضیح دقیق و کامل درباره ی ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">مبلغ مورد نیاز برای اجرای ایده</span>
        <input class="text-right" type="text" placeholder="مبلغ مورد نیاز برای اجرای ایده">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-right">مدت زمان پیشنهادی برای انجام پروژه</span>
        <input class="text-right" type="text" placeholder="مدت زمان پیشنهادی برای انجام پروژه">
      </label>
    </div>
    <a class="button button-full button-positive" href="#/home/submission-step2">
    <button style="margin-top:55px" class="button button-full button-balanced" href="#/home/submission-step2">
      ادامه
    </a>
  </ion-content>
</ion-view>
