/* Empty. Add your own CSS if you like */
@font-face {font-family: 'yekanb';src: url('/css/fonts/BYekan/BYekan.eot') format('eot'),url('/css/fonts/BYekan/BYekan.woff') format('woff'),url('/css/fonts/BYekan/BYekan.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'yekan';src: url('/css/fonts/Yekan/Yekan.eot') format('eot'),url('/css/fonts/Yekan/Yekan.woff') format('woff'),url('/css/fonts/Yekan/Yekan.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'BBCNassim';src: url('./css/fonts/BBCNassim/BBCNassim-webfont.eot') format('eot'),url('./css/fonts/BBCNassim/BBCNassim-webfont.woff') format('woff'),url('./css/fonts/BBCNassim/BBCNassim-webfont.ttf') format('truetype'),url('./css/fonts/BBCNassim/BBCNassim-webfont.svg') format('svg');font-weight: normal;font-style: normal;}

.input-label {
  float: right;
  margin-right: 25px;
}

.right {
  float: right;
}

*{
  font-family: 'yekanb';
}

h1.title-left{
  font-family: 'yekanb';
}

h2.ng-binding{
  font-family: 'yekanb';
}

.date-view {
  font-family: initial !important;
}


.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  title-left: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  right: -10px;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: #fff ;
  background-color: #FFC900;
  border-radius: 50%;
  padding-top: 10px
}
